<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.10.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="RestSharp" version="102.7" />
</packages>