<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
  <appSettings>
    <add key="SQLSERVER_URI" value="localhost" />
    <add key="SQLSERVER_CONNECTION_STRING_ALIAS" value="MainDb" />
  </appSettings>
  <connectionStrings>
    <add name="MainDb" connectionString="Server=localhost;Database=my-app-debug;User ID=test;Password=dfy5fgFdsvV;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/api/*" />
    </httpHandlers>	
		<httpModules>
		<add name="MobileHandler" type="SandboxTest.MobileRedirectHandler"/>
	</httpModules>
  </system.web>

  <system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="MobileHandler" type="SandboxTest.MobileRedirectHandler" preCondition="managedHandler" />
		</modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/api/*" />
    </handlers>
  </system.webServer>
</configuration>